<app-loader-component *ngIf="isLoading"></app-loader-component>
<div class="login">
  <div class="container">
    <div class="image-container">
      <img src="assets/images/a-icon.svg" height="100%" (mouseover)="rotateImage()"
        (mouseout)="rotateImage()" [ngClass]="{'rotate': isImageRotated}">
      <span class="tooltip"><b>Alpha!</b></span>
    </div>
    <div class="login-form">
      <div class="input-container">
        <input type="text" (input)="validatePasswordAndUsername()" [(ngModel)]="username" placeholder="Username">
        <div *ngIf="!validUsername && isFormTouched" class="error-container">
          <span class="error_message">* Please enter a username</span>
          <span class="know-more">see more details ?</span>
        </div>
      </div>
      <div class="input-container">
        <input type="password" (input)="validatePasswordAndUsername()" [(ngModel)]="password" placeholder="Password">
        <div *ngIf="!validPassword && isFormTouched" class="error-container">
          <span class="error_message">* Please enter a valid password</span>
          <span class="know-more" (click)="showPasswordValidationDetails= !showPasswordValidationDetails">see more
            details ?</span>
          <div *ngIf="showPasswordValidationDetails" class="details">
            <app-details></app-details>
          </div>
        </div>
      </div>
      <button (click)="routeToHomePage()">Login</button>
    </div>
    <div class="signin-methods">
      <a href="#" class="forgot-password">Forgot Password? </a>
      <p class="seperator"> | </p>
      <a href="#" class="forgot-password"> Login with Gmail</a>
    </div>
  </div>
</div>