.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #2c3050, #3460db);

    .image-container {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .image-container .tooltip {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        opacity: 1;
        transition: opacity 0.7s;
        font-size: 12px;
        padding: 8px;
        background-color: #4561d2;
        color: #333;
        border-radius: 4px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .image-container:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }

    .image-container .tooltip::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }

    .container {
        width: 450px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);

        .login-form {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .input-container {
                width: 100%;
                margin: 20px 0;
                position: relative;

                .error-container {
                    margin-top: 2px;
                    display: flex;
                    justify-content: space-between;
                    .details{
                        position: absolute;
                        right: -376px;
                    }
                    .error_message {
                        font-size: 10px;
                        color: red;
                    }

                    .know-more {
                        cursor: pointer;
                        font-size: 9px;
                        color: #2196f3;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                input {
                    width: 100%;
                    padding: 10px;
                    font-size: 16px;
                    border: none;
                    border-bottom: 2px solid #ddd;
                    transition: border-bottom 0.2s;

                    &:focus {
                        border-bottom: 2px solid #3498db;
                    }
                }
            }

            button {
                width: 50%;
                padding: 5px;
                margin-top: 20px;
                background: linear-gradient(to right, #2c3150, #3740eb);
                color: #fff;
                font-size: 16px;
                border: none;
                border-radius: 25px;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    background-color: #2196f3;
                    box-shadow: 0px 0px 10px 0px rgba(33, 150, 243, 0.5);
                    transform: translateY(-2px);
                }
            }

        }
    }

    .signin-methods {
        display: flex;
        margin-bottom: 5px;

        .forgot-password {
            display: block;
            margin-top: 20px;
            font-size: 12px;
            color: #333;

            &:hover {
                color: #2196f3;
            }

            text-decoration: none;
        }

        .seperator {
            margin-top: 20px;
            font-size: 12px;
            color: #333;
            margin-right: 4px;
            margin-left: 4px;
        }
    }

    .rotate {
        transition: all 0.5s ease-in-out;
        transform: rotate(360deg);
    }

    img {
        width: 110px;
        height: 110px;
        display: block;
        margin: 0 auto;

        &:hover {
            transform: rotate(360deg);
            transition: all 0.5s ease-in-out;
        }
    }
}